@page
@model RegisterModel

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm rounded">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Register</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Fullname" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                    <label asp-for="Input.Fullname">Username</label>
                    <span asp-validation-for="Input.Fullname" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Phone" class="form-control" autocomplete="Phone" aria-required="true" placeholder="Phone Number" />
                    <label asp-for="Input.Phone">Phone</label>
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                <div class="mt-3">
                    <p class="text-center">
                        Already have an account?
                        <a class="text-decoration-none" asp-page="./login" asp-route-returnUrl="@Model.ReturnUrl">Login Now</a>
                    </p>
                </div>
            </form>

            <section class="mt-5">
                @{
                    if (Model.ExternalLogins?.Count > 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="d-grid gap-2">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-outline-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
