@model IEnumerable<GenreModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Genre List</h1>

<p class="mb-4">
    <a asp-action="Create" class="btn btn-success">Add New</a>
</p>
<div class="table-responsive">
<table class="table table-striped table-bordered width:auto">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
                <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId" class="btn btn-warning me-3">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.GenreId" class="btn btn-primary me-3">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.GenreId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
