@model MovieApplication.ViewModel.responseModel
@{
    ViewData["Title"] = "Details";
    int totalMinutes = Model.Duration;
    int hours = totalMinutes / 60;
    int minutes = totalMinutes % 60;
}

<h1 class="text-center">Movie Details</h1>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="row g-0">
            <div class="col-md-3">
                <div class="d-flex align-items-center justify-content-center h-90">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="@Model.Image" alt="Movie Image" class="img-fluid h-80" />
                    }
                    else
                    {
                        <p class="text-center">No image available</p>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Movie Information</h4>
                        <div>
                            <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-warning me-2">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a asp-action="List" class="btn btn-secondary">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">Movie Name</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MovieName)</dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-3">Director</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Director)</dd>

                        <dt class="col-sm-3">Duration</dt>
                        <dd class="col-sm-9">@hours hr @minutes min</dd>

                        <dt class="col-sm-3">Genre</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Genre)</dd> <!-- Display the genre name -->
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Reviews" asp-route-id="@Model?.Id" class="btn btn-success">
            <i class="fa fa-comment"></i> Leave Review
        </a>
    }
    else
    {
        <p>Please <a href="/Account/Login">login</a> to leave a review.</p>
    }
</div>
